/* line 33, scss/customColours.scss */
.light-blue-bg {
  background: #D1DDEB !important; }

/* line 33, scss/customColours.scss */
.light-lavender-bg {
  background: #D2D1EB !important; }

/* line 33, scss/customColours.scss */
.light-purple-bg {
  background: #DFD1EB !important; }

/* line 33, scss/customColours.scss */
.light-magenta-bg {
  background: #EBD1EA !important; }

/* line 33, scss/customColours.scss */
.light-pink-bg {
  background: #EBD1DD !important; }

/* line 33, scss/customColours.scss */
.light-red-bg {
  background: #EBD2D1 !important; }

/* line 33, scss/customColours.scss */
.light-orange-bg {
  background: #EBDFD1 !important; }

/* line 33, scss/customColours.scss */
.light-yellow-bg {
  background: #EAEBD1 !important; }

/* line 33, scss/customColours.scss */
.light-lime-bg {
  background: #DDEBD1 !important; }

/* line 33, scss/customColours.scss */
.light-green-bg {
  background: #D1EBD2 !important; }

/* line 33, scss/customColours.scss */
.light-mint-bg {
  background: #D1EBDF !important; }

/* line 33, scss/customColours.scss */
.light-aqua-bg {
  background: #D1EAEB !important; }

/* line 33, scss/customColours.scss */
.bright-yellow-bg {
  background: #FAFAD2 !important; }

/* line 33, scss/customColours.scss */
.bright-lime-bg {
  background: #E6FAD2 !important; }

/* line 33, scss/customColours.scss */
.bright-green-bg {
  background: #D2FAD2 !important; }

/* line 33, scss/customColours.scss */
.bright-mint-bg {
  background: #D2FAE6 !important; }

/* line 33, scss/customColours.scss */
.bright-aqua-bg {
  background: #D2FAFA !important; }

/* line 33, scss/customColours.scss */
.bright-blue-bg {
  background: #D2E6FA !important; }

/* line 33, scss/customColours.scss */
.bright-lavender-bg {
  background: #D2D2FA !important; }

/* line 33, scss/customColours.scss */
.bright-purple-bg {
  background: #E6D2FA !important; }

/* line 33, scss/customColours.scss */
.bright-magenta-bg {
  background: #FAD2FA !important; }

/* line 33, scss/customColours.scss */
.bright-pink-bg {
  background: #FAD2E6 !important; }

/* line 33, scss/customColours.scss */
.bright-red-bg {
  background: #FAD2D2 !important; }

/* line 33, scss/customColours.scss */
.bright-orange-bg {
  background: #FAE6D2 !important; }

/* line 33, scss/customColours.scss */
.dss-bright {
  background: #99D8E0 !important; }

/* line 33, scss/customColours.scss */
.dss-light {
  background: #CAE9EE !important; }

/* line 33, scss/customColours.scss */
.dss-light-desat {
  background: #B3C3C4 !important; }

/* line 50, scss/customColours.scss */
.dss-primary {
  background: #0F413C !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-dark {
  background: #19423C !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-dark-desat {
  background: #5D7969 !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-medium {
  background: #3B8d7B !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-accent {
  background: #F19D23 !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-discovery {
  background: #1E6A9D !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-alpha {
  background: #118C7B !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-beta {
  background: #7B953D !important;
  color: white !important; }

/* line 50, scss/customColours.scss */
.dss-live {
  background: #BB770B !important;
  color: white !important; }
