@import url(../../highlight/styles/vs2015.css);
/* line 6, scss/styleGuide.scss */
.display-grid .columns, .display-grid li {
  border: solid 1px #ccc;
  box-sizing: border-box;
  text-align: center;
  padding: rem-calc(20px) 0; }

/* How it Works - ORPP pie chart and bar graphics */
/* line 18, scss/styleGuide.scss */
.info-graphics, .info-graphics--side_1, .info-graphics--side_2 {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin-top: rem-calc(19.2px) !important;
  margin-bottom: rem-calc(19.2px) !important; }

/* line 25, scss/styleGuide.scss */
.info-graphics--divider {
  border-right: 1px solid #ccc; }

/* line 31, scss/styleGuide.scss */
.info--purple {
  color: #4c3089; }

/* line 34, scss/styleGuide.scss */
.info--teal {
  color: #008b8b; }

/* line 37, scss/styleGuide.scss */
.info--grid {
  padding: 0; }
  /* line 39, scss/styleGuide.scss */
  .info--grid li {
    padding: 0; }
  /* line 42, scss/styleGuide.scss */
  .info--grid .info--cpp-totals {
    border: rem-calc(10px) solid #87dbd0; }
    /* line 44, scss/styleGuide.scss */
    .info--grid .info--cpp-totals p {
      background-color: #fff;
      display: block;
      margin: 1rem; }

/* line 52, scss/styleGuide.scss */
.info--bar-outer, .info--bar-outer_2 {
  overflow: hidden;
  width: 100%;
  padding: 0 rem-calc(16px); }

/* line 57, scss/styleGuide.scss */
.info--bar-outer {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  /* line 61, scss/styleGuide.scss */
  .info--bar-outer .info--bar-inner {
    height: rem-calc(128px); }

/* line 65, scss/styleGuide.scss */
.info--bar-inner {
  display: block;
  float: left;
  margin-right: rem-calc(16px);
  overflow: hidden;
  position: relative;
  width: 40%; }

/* line 73, scss/styleGuide.scss */
.info--bar .info--bar1, .info--bar .info--bar2 {
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%; }

/* line 79, scss/styleGuide.scss */
.info--bar1 {
  background-color: #aeafd5;
  height: 90%; }

/* line 84, scss/styleGuide.scss */
.info--bar2 {
  background-color: #aeafd5;
  height: 25%; }

/* line 93, scss/styleGuide.scss */
.info--cpp-title_1 {
  display: block;
  font-size: rem-calc(16px);
  font-weight: 400;
  text-transform: uppercase; }

/* line 99, scss/styleGuide.scss */
.info--cpp-title_2 {
  font-size: rem-calc(32px);
  font-weight: 900;
  line-height: 0.8;
  text-transform: uppercase; }

/* line 105, scss/styleGuide.scss */
.info--cpp-title_3 {
  font-size: rem-calc(19.2px);
  font-weight: 900;
  line-height: 0.8;
  margin-top: rem-calc(28.8px);
  text-transform: uppercase; }

/* line 112, scss/styleGuide.scss */
.info--cpp-title_4 {
  display: block;
  font-size: rem-calc(16px);
  font-weight: 400;
  text-transform: uppercase; }

/* line 120, scss/styleGuide.scss */
.info--grid {
  padding: 0; }
  /* line 122, scss/styleGuide.scss */
  .info--grid li {
    padding: 0; }
  /* line 125, scss/styleGuide.scss */
  .info--grid .info--cpp-totals {
    border: rem-calc(10px) solid #87dbd0; }
    /* line 127, scss/styleGuide.scss */
    .info--grid .info--cpp-totals p {
      background-color: #fff;
      display: block;
      margin: rem-calc(16px); }

/* used on Open Gov landing page */
/* line 137, scss/styleGuide.scss */
.open-gov-graphic {
  font-family: raleway;
  font-weight: 800; }

/* line 142, scss/styleGuide.scss */
h2.open-gov-header {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: rem-calc(40px);
  text-align: center; }

/* line 148, scss/styleGuide.scss */
.open-data-copy {
  font-size: rem-calc(25.6px);
  line-height: 1.3; }

/* Progress Bar */
/* line 154, scss/styleGuide.scss */
.horizontal-bar-chart {
  padding-right: .8em; }

/* line 158, scss/styleGuide.scss */
.number {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 162, scss/styleGuide.scss */
h3 .number {
  font-size: 160%;
  font-weight: 800; }

/* line 167, scss/styleGuide.scss */
.progress {
  border: 1px solid #fff;
  height: rem-calc(38.4px);
  margin-bottom: rem-calc(8.88896px);
  padding: rem-calc(1.77776px); }
  /* line 172, scss/styleGuide.scss */
  .progress .meter {
    background: #40366d;
    display: block;
    float: left;
    height: 100%;
    width: 0; }
    /* line 178, scss/styleGuide.scss */
    .progress .meter .number {
      color: #fff;
      font-size: 1.3em;
      font-weight: 600;
      margin-left: 0.7em; }
    /* line 184, scss/styleGuide.scss */
    .progress .meter.secondary {
      background: #e7e7e7;
      display: block;
      float: left;
      height: 100%;
      width: 0; }
      /* line 190, scss/styleGuide.scss */
      .progress .meter.secondary .meter {
        background: #e7e7e7;
        display: block;
        float: left;
        height: 100%;
        width: 0; }
  /* line 199, scss/styleGuide.scss */
  .progress.radius {
    border-radius: rem-calc(3px); }
    /* line 201, scss/styleGuide.scss */
    .progress.radius .meter {
      border-radius: rem-calc(2px); }
  /* line 205, scss/styleGuide.scss */
  .progress.round {
    border-radius: rem-calc(1000px); }
    /* line 207, scss/styleGuide.scss */
    .progress.round .meter {
      border-radius: rem-calc(999px); }

/* line 213, scss/styleGuide.scss */
.link-example {
  height: 230px !important;
  overflow: hidden; }

/* line 218, scss/styleGuide.scss */
.link-preview {
  width: 1028px;
  height: 900px;
  pointer-events: none;
  transform: scale(0.2);
  transform-origin: 0 0;
  border: 2px solid #ccc;
  padding: 5rem; }

/* line 228, scss/styleGuide.scss */
.palette-padding {
  padding: 10px; }

/* line 234, scss/styleGuide.scss */
#page-6 { }
  /* line 239, scss/styleGuide.scss */
  #page-6 .design-banner {
    background: #191b10;
    text-align: center; }
    /* line 242, scss/styleGuide.scss */
    #page-6 .design-banner .row.intro .custom-size {
      background: #fff; }
      @media only screen and (min-width: 64.063em) {
        /* line 242, scss/styleGuide.scss */
        #page-6 .design-banner .row.intro .custom-size {
          border-radius: 15px 15px 0 0/15px 15px 0 0;
          padding: 1rem 2rem;
          width: 100%;
          margin-top: -8rem; } }
  /* line 253, scss/styleGuide.scss */
  #page-6 .main-content .intro p {
    max-width: none; }
  /* line 258, scss/styleGuide.scss */
  #page-6 #for-copying {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent; }
  /* line 268, scss/styleGuide.scss */
  #page-6 div.section {
    padding-bottom: 1rem; }
  /* line 272, scss/styleGuide.scss */
  #page-6 .example {
    min-height: 4rem; }
    /* line 275, scss/styleGuide.scss */
    #page-6 .example[lang='fr']:before {
      content: 'FR';
      position: absolute;
      right: 0;
      font-size: 0.7rem;
      color: #fff;
      background-color: #D4B6D4;
      padding: 0 0.2rem; }
    /* line 284, scss/styleGuide.scss */
    #page-6 .example-row {
      border-top: 1px solid #ddd;
      border-bottom: 0.2rem solid #fff;
      min-height: 3.5rem; }
      /* line 289, scss/styleGuide.scss */
      #page-6 .example-row:hover .example .columns {
        background-color: #F9EEEE; }
      /* line 292, scss/styleGuide.scss */
      #page-6 .example-row:hover button {
        display: inline; }
      /* line 295, scss/styleGuide.scss */
      #page-6 .example-row:hover pre {
        overflow: auto;
        text-overflow: initial;
        max-height: inherit !important; }
      /* line 301, scss/styleGuide.scss */
      #page-6 .example-row .example .columns {
        border-right: 1px solid #fff; }
    /* line 305, scss/styleGuide.scss */
    #page-6 .example-code {
      position: relative; }
      /* line 307, scss/styleGuide.scss */
      #page-6 .example-code pre {
        font-size: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis; }
      /* line 312, scss/styleGuide.scss */
      #page-6 .example-code button {
        position: absolute;
        top: 0.5rem;
        right: 0;
        display: none; }
    /* line 319, scss/styleGuide.scss */
    #page-6 .example .row {
      margin-top: 1px; }
    /* line 325, scss/styleGuide.scss */
    #page-6 .example-stacked .columns {
      width: 100%; }
    /* line 328, scss/styleGuide.scss */
    #page-6 .example-stacked .example-code pre, #page-6 .example-stacked .example {
      min-height: 2rem; }
    /* line 331, scss/styleGuide.scss */
    #page-6 .example-stacked .example-code {
      margin-bottom: 1rem; }
  /* line 337, scss/styleGuide.scss */
  #page-6 #changelog ol {
    list-style-type: disc; }
